body{
background:linear-gradient(#d72e2e,darkred);
    background-repeat:no-repeat ;
    background-attachment: fixed;
}
.pdf{
    width:1000px;
    height:1200px;
    position:relative;
    align:left;
    left:17.5%;
    top:10px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    color: black;
}

header .logo img{
    height: 100px;
    width: auto;
    position:relative;
    top:2px;
}

header .title h1{
    color: black;
    text-align: center;
    font-size: 45px;
}

.top-menu{
    display: flex;
    justify-content: space-around;
    background: #db2030;
    color: black;
}

.top-menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.top-menu ul li{
    margin-right: 30px;
}

.top-menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    border-radius: 5px;
    transition: box-shadow .5s;
}

li{
    button:hover{
        background-color:darkred;
    }
    button:active{
        background-color:purple;
    }

    button {
        background-color: #db2030;
        width:70px;
        height:40px;
        color: #ffffff;
        border-radius: 5px;
        font-size: 17px;
        text-align: center;
        border: none;
    }
}
hr{
    border: 1px solid darkred;
}
a:hover {
    color: blue;

}